/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
    hold-trigger-key-positions = <0>;
};

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&lt 3 HOME        &kp Q        &kp W           &kp E           &kp R             &kp T          &kp Y        &kp U              &kp I            &kp O            &kp P           &lt 3 EQUAL
&mt LCTRL ESCAPE  &mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_GUI D  &mt LEFT_SHIFT F  &kp G          &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RCTRL SEMI  &kp SQT
&kp END           &kp Z        &kp X           &kp C           &kp V             &kp B          &kp N        &kp M              &kp COMMA        &kp DOT          &kp FSLH        &kp MINUS
                                               &mo 4           &lt 2 TAB         &lt 1 SPACE    &lt 1 ENTER  &lt 2 BACKSPACE    &mo 4
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp N1  &kp N2     &kp N3        &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &kp BSPC
&none  &trans  &kp MINUS  &kp PLUS      &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &none
&none  &none   &kp SLASH  &kp ASTERISK  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &none
                          &trans        &trans  &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp SQT    &kp LT     &kp GT     &kp DQT        &kp PERIOD        &kp AMPS   &kp GRAVE  &kp LBKT  &kp RBKT  &kp PRCNT  &kp BSPC
&none  &kp EXCL   &kp MINUS  &kp PLUS   &kp EQUAL      &kp HASH          &kp PIPE   &kp COLON  &kp LPAR  &kp RPAR  &kp QMARK  &none
&none  &kp CARET  &kp SLASH  &kp ASTRK  &kp BACKSLASH  &kp UNDERSCORE    &kp TILDE  &kp DLLR   &kp LBRC  &kp RBRC  &kp AT     &none
                             &trans     &trans         &kp SPACE         &kp RET    &trans     &trans
            >;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&trans      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6        &kp F7  &kp F8           &kp F9           &kp F10          &kp F11
&trans      &trans        &none         &trans        &none         &bootloader     &bootloader   &trans  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &kp PRINTSCREEN  &kp F12
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &out OUT_TOG  &trans  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &trans           &rgb_ug RGB_TOG
                                        &trans        &trans        &trans          &trans        &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &kp LA(LEFT)  &kp UP    &kp LA(RIGHT)  &kp C_VOL_UP         &trans         &kp LC(LG(LA(LEFT_ARROW)))  &trans         &kp LG(LA(LC(RIGHT_ARROW)))  &trans  &trans
&trans  &trans  &kp LEFT      &kp DOWN  &kp RIGHT      &kp C_VOLUME_DOWN    &trans         &kp LC(LEFT_ARROW)          &kp LC(LA(M))  &kp LC(RIGHT_ARROW)          &trans  &trans
&trans  &trans  &trans        &trans    &trans         &kp K_MUTE           &trans         &trans                      &trans         &trans                       &trans  &trans
                              &trans    &trans         &trans               &kp LG(SPACE)  &kp LC(SPACE)               &trans
            >;

            label = "Funcs";
        };
    };
};
